*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(70deg,rgb(13, 61, 196) 0%, rgba(8, 196, 209, 0.63) 100%);
    display: flex;
    justify-content: center ;
    align-items: center;
}

.container{
    background-color: azure;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(60, 49, 104);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}
.header{
    background-color: whitesmoke;
    padding: 20px;  
}
.form{
padding: 20px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label {
    display: inline-block;
    margin-bottom: 5px;

}
.form-control input{
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}
.form-control i{
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}
.form-control small{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.form button{
    background-color: blueviolet;
    border: 2px solid blueviolet;
    color: #f0f0f0;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px;
    
}
